.title{
  color:red;
}
.infomation h1{
  color:#0000ff;
}

#parent > p{
  background-color: aqua;
}
/* div要素の中のdivをまとめて処理したい場合は、上記のように親要素の中の子孫要素という意味合いでparent div divとすると、3つ目のdivに対してだけCSSが適用される。 */

/* 親要素のpタグに対して（この場合はparent p）とすると、子要素にも適用される */

/* それを防ぐ為には、親要素の中のpタグだけにCSSを適用させたい場合は、
    （parent > p）と表現する事で、【parentタグの中のpタグだけに適用させるよー】
    と指示を出す事が出来る */

    /* 親要素の中の子要素の中のpタグにCSSを適用させたい場合は、
    そもそも親要素名をセレクタに使わずに、子要素名をセレクタに使う */

    /* これらの方法はあくまで親要素と子孫要素が存在する際に有効であり、
    子孫要素がない状況では、通常通り(セレクタ名 プロパティ名)で対応すれば良い */

/* ケースバイケースだが、毎回idやクラス名をつけなくても記述出来るから、コーディングが楽になるかも */



/* 下記のように固有の属性タグにCSSを適用したい時は、
    []で囲むようにしておく */
#myName,.genderBox-left,.favoriteFood,label[for="question"]{
  font-size: 30px;
  text-align: center;
  color: blueviolet;
  margin: 30px;
}

